body{
    font-size: 16px; /* 1em */
    margin: 0px auto;
    /* Recomendación del cliente */
    max-width: 1078px;
    min-width: 1078px;
    
}

header input{
    float: right;
    margin-right: -240px;
    margin-top: 15px;
}

header nav{
    margin-left: 200px;
}

header nav ul li{
    border-bottom: 1px solid lightgray;
    padding-bottom: 4px;
    display: inline-block;
    font-size: 1.8em;
    margin-right: 25px;
    color: lightgray;
}

#granthams{
    margin-top: 25px;
    margin-left: 25px;
}

#paint{
    float: right;
}

#primerSeccion{
    /* border: 1px solid red; */
    height: 318px;
    margin-top: 60px;
}

#primerSeccion article{
    display: inline-block;
    vertical-align: top;
}

#secc01art01{
    width: 60%;
    margin-left: 30px;
}

#secc01art02{
    width: 30%;
    margin-left: 50px;
}

.colorRosa{
    color: #ff0099;
}

.letraGrande{
    font-size: 3.5em;
}

.nito{
    font-weight: bold;
}