body{
    background-color: #235e92;
    margin: 0px auto;
}

header{
    background-color: #235e92;
}

header img{
    display: block;
    margin: 5px auto;
    width: 200px;
}

#contenedorPrincipal{
    background-color: #efefef;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin: 0px auto;
    width: 99%;
}

nav ul{
    height: 75px;
    margin-right: 20px;
    text-align: right;
}

nav ul li{
    display: inline-block;
    padding: 30px 15px;
    vertical-align: bottom;
}

nav ul li img{
    width: 100px;
}

.notificacion{
    aspect-ratio: 1;
    background-color: #235e92;
    border-radius: 50%;

}