body{
    /* 1em */
    font-size: 16px;
    margin: 0px auto;
    max-width: 1024px;
}

header{
    background: #d1e3ee;
}

header nav{
    background: #026dc6;
    padding: 2px 0px;
}

header nav ul li{
    display: inline-block;
    color: white;
    margin-right: 20px;
    /*border: 1px solid red;*/
}

header nav form{
    float: right;
    margin-top: -37px;
    margin-right: 20px;
}

#logo{
    margin-top: -150px;
}